{% extends 'base.html' %}   
{% block contents %}
<br>
<style>
.card{
    left:0; right:0; margin-left:auto; margin-right:auto; 
    top: 0; bottom:0; margin-top:auto; margin-bottom:auto; 
    
}

</style>
<br>
<div class = 'card' style="width: 23rem;">
<div class = 'card-body'>
    <section class="text-center"><h3 >Join us!</h3></section>
    <form method = "POST" action = "{% url 'signup' %}">
    <br>
        {% csrf_token %}  <!--POST 방식을 쓸때, 보안위해 써주는 것이 좋다-->
        아이디 &nbsp&nbsp&nbsp
        <input name = 'username' type = 'text' value = "">
        <br><br>
        비밀번호&nbsp
        <input name = 'password1' type = 'password' value = "">
        <br><br>
        비밀번호 확인
        <input name = 'password2' type = 'password' value = "">
        {% if error %}
        <br><br>
        {{error}}
        <br><br>
        <section class="text-center">
        <input class="btn btn-light" type = "submit" value = "Join">
        </section>
        {% else %}
        <br><br>
        <section class="text-center">
        <input class="btn btn-light" type = "submit" value = "Join">
        </section>
        {% endif%}
        
    </form>
  </div>
</div>
</div>
<br><br><br>
{% endblock %}