{% extends 'base.html' %}  <!-- 우선순위 가장 위! 가장 먼저 써주기-->
{% block contents %}
{% load staticfiles %}
<head>
<style>
.jumbotron{
  background-image: url("{% static 'back.jpg' %}");
  background-size: cover;
}

.jumbotron-heading{
  color:aliceblue;
}

.leadtextmuted{
  color:azure;
}
</style>
</head>
<!--

<main role = "main">
      <section class="text-center">
        <div class="jumbotron" ><br><br><br><br><br>
     
          <h1 class="jumbotron-heading">Delicious&Tasty Food</h1>
      <p class="leadtextmuted">Please Introduce your Favorite Resturants in Your Town!</p>
      <p> <a href="http://www.seosan.go.kr/" class="btn btn-primary my-2">About Seosan</a>
        <a href="#" class="btn btn-secondary my-2">Secondary action</a>
      </p><br><br>
        </div>
      </section>
    -->

  <div class="album py-5 bg-light">
    <div class="container">

     <div class="row">
        
  {% for post in post.all %}      <!--.all : 모든 객체 내용을 보여주세요-->
  <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
     
          <img src = "{{post.image.url}}" height = 225 >  <!--image: models의 이름 미디어 파일은 url을 타고오기 때문에 .url//  왜 업로드전에 {{post.image.url}} 로 하면 사진이 안보이지?<-이문제가 아니었음, 뉴포스트중에 이미지파일이 없는게 있었음 -->
    
            <div class="card-body">
              <p class="card-text">{{post.title}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href = "{% url 'detail' post.id %}"><button type="button" class="btn btn-sm btn-outline-secondary">더보기</button></a>  
                    <a href = "{% url 'edit' post.id %}"><button type="button" class="btn btn-sm btn-outline-secondary">Edit</button></a>
                </div>
                <small class="text-muted">{{post.author}}, {{post.pub_date}}</small>
              </div>
            </div>
      
          </div>
        </div> 
    {% endfor %} 
 </div>
          </div>
        </div>
     <!--   {% for post in posts.all %}        
        {{post.title}}
        {% endfor %}  
     -->
      </div>
    </div>
  </div>

</main>


</body>
      </html>

{% endblock %}